@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<GestaoDeUsinas.Models.Usina>

@{
    ViewData["Title"] = "Listagem de usinas de Geração Distribuída";
}

<h4>@ViewData["Title"]</h4>
<hr />


<div class="container-fluid col-12">
    <form class="form-inline col-12" id="filtro" method="get" asp-action="Index">
        <label for="fornecedor">Fornecedor:</label>
        <input type="hidden" name="fornecedorId" id="fornecedorId" />
        <select class="custom-select my-1 mr-sm-2 ml-2" name="fornecedor" onchange="select_onchange(this)" id="fornecedor">
            <option value="" disabled selected>Selecione</option>

            @foreach (var fornecedor in (ViewBag.Fornecedores as IEnumerable<Fornecedor>))
            {
                <option value="@fornecedor.Id">@Html.DisplayFor(modelItem => fornecedor.Nome)</option>
            }
        </select>

        <label class="ml-4" for="ucusina">UC da usina:</label>
        <input type="text" class="ml-2 form-control" name="ucusina" />

        <label for="ativo" class="ml-4">Ativo:</label>
        <select class="custom-select my-1 mr-sm-2 ml-2" name="ativo" id="ativo">
            <option value="@null" disabled selected>Selecione</option>
            <option value="@true">Sim</option>
            <option value="@false">Não</option>
        </select>

    </form>

    <div class="row col-md-4 offset-8 mt-2">

        <a asp-controller="Usinas" asp-action="Create" style="background-color: #227c8d" class="btn btn-primary">Cadastrar</a>
        <button class="btn btn-primary float-sm-right ml-2" style="background-color: #227c8d" form="filtro">Filtrar dados</button>

    </div>
</div>

<table class="table mt-5">
    <thead>
        <tr>
            <th>
                Fornecedor
            </th>
            <th>
                UC da Usina
            </th>
            <th>
                Ativo
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UCusina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="float-right">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
</div>

<script>
    function select_onchange(sel) {
        var val = sel.value;
        document.getElementById("fornecedorId").value = val;
    }
</script>
